// Glyphicons font path
$icon-font-path:        "../fonts/";

//== Colors
$brand-primary:         #08ed76;
$text-color:            #014c6d;

//== Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$font-size-base: 16px;
$font-size-h1: 36px;
$font-size-h2: 48px;
$font-size-h3: 24px;
$headings-font-weight: 300;

//== Buttons
$btn-font-weight: 700;
$btn-primary-color: #3e606f;
$btn-primary-border: $brand-primary;
$btn-border-radius-base: 0;

//== Grid system
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width: 20px;

//== Navbar
$navbar-height: 47px;
$navbar-default-color: black;
$navbar-default-bg: #fefefd;

//== Forms
$input-border-radius: 0;

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts";
$fa-font-size-base: 15px;