.use-cases-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}

.use-cases-case {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.use-cases-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
}

.use-case-body {
  margin-top: 5px;
  max-width: 320px;
  @media (min-width: 480px) {
    min-width: initial;
  }
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  margin-bottom: 20px;
}

.team-member-avatar {
  width: 200px;
}

.team-member-name {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin-top: 5px;
}

.team-member-role {
  font-size: 16px;
  font-weight: 100;
  color: #f60b6e;
}

.team-member-social-icons {
  display: flex;
  justify-content: space-around;

  a {
    color: white;
  }
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  background-color: #314453;
  padding-top: 45px;
  padding-bottom: 45px;
}

.connector {
  position: absolute;
  display: block;
}

#illustration-triangle {
  margin-top: 21px;

  @media (min-width: $screen-md-min) {
    margin-top: 111px;
  }
}

#illustration-butterfly {
  @media (min-width: $screen-md-min) {
    margin-top: 70px;
  }
}

#illustration-technology {
  @media (min-width: $screen-md-min) {
    margin-top: 140px;
  }

  @media (min-width: $screen-lg-min) {
    margin-top: 120px;
  }
}

@media (min-width: $screen-md-min) {
  #about {
    padding-top: 60px;
    margin-bottom: 45px;
  }

  #connector-a {
    left: 14%;
    top: -200px;
  }

  #vision {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  #connector-b {
    bottom: -20px;
  }

  #use-cases {
    margin-top: 50px;
    margin-bottom: 60px;
    &>h2 {
      margin-bottom: 50px;
    }
  }

  #technology {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  #team {
    margin-top: 50px;
    margin-bottom: 100px;

    &>h2 {
      margin-bottom: 60px;
    }
  }

  #partners {
    margin-bottom: 150px;
  }
}

@media (min-width: $screen-lg-min) {
  #about {
    margin-bottom: 95px;
  }

  #connector-a {
    left: 15%;
    top: -204px;
  }

  #vision {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  #connector-b {
    left: 9.2%;
    bottom: -79px;
  }
}


