.copyright-notice {
  font-size: 12px;
  text-align: center;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;

  .nav {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 14px;
    text-transform: uppercase;

    &>li>a {
      //padding: initial;
      color: black;
      letter-spacing: 0.5px;
      padding-top: 0;

      &:focus,
      &:hover {
        background-color: initial;
      }
    }
  }

  .social-icons a {
    color: #a7a7a7;
  }
}